.definer__card {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  height: 160px;
  width: 160px;

  cursor: pointer;

  border: 2px solid #4ca5ff;

  transition: 0.3s;

  &:hover {
    border-color: var(--second-color);
  }

  &__icon {
    fill: #4ca5ff;
  }

  @media screen and (max-width: 500px) {
    & {
      height: 120px;
      width: 120px;
    }
  }
}
