.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: var(--z-fixed);
}

nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    position: relative;

    // span {
    //   width: 13px;
    //   height: 13px;
    //   display: inline-block;
    //   border-radius: 50%;
    //   background-color: white;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    // }
  }
}

.bag__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag {
  cursor: pointer;

  &:hover {
    fill: #4ca5ff;
  }
}
